.home-banner {
  background-image: url("/src/assets/img/banner_mobile.png");
  @media (min-width: 768px) {
    background-image: url("/src/assets/img/banner_web.png");
    height: auto;
  }
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cartIcon {
  transition: all 0.3s;
  &:hover {
    color: #da6a19;
  }
}

.max-w-526 {
  @media (min-width: 768px) {
    max-width: 526px;
  }
}

.product {
  background: #f4f8fb;
  @media (min-width: 768px) {
    background-image: url("/src/assets/img/bg-headphone.png");
  }
  background-position: left center;
  background-repeat: no-repeat;
}

.home-intro {
  padding: 116px 12px;
  background: url("/src/assets/img/bg1_mobile.png");
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-width: 768px) {
    padding: 140px 36px;
    background: url("/src/assets/img/bg1_web.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.home-coupon {
  background-image: url("/src/assets/img/bg2_mobile.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 60px;
  @media (min-width: 768px) {
    background-image: url("/src/assets/img/bg2_web.png");
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .coupon-body {
    padding: 32px 40px;
    background: rgba(255, 255, 255, 0.3);
    max-width: 528px;
    border-radius: 10px;
    &-title {
      margin-bottom: 20px;
    }
    &-text {
      margin-bottom: 20px;
    }
    form {
      > div {
        gap: 20px;
      }
      input {
        background: #434040cc;
        border-radius: 5px;
        padding: 8px 20px;
        flex: none;
        flex-grow: 1;
        border: unset;

        color: #c7c7c7;
      }
      button {
        padding: 8px 24px;
        border-radius: 5px;
        width: 100%;
        @media (min-width: 576px) {
          width: auto;
        }
      }
    }
  }
}
